/*------------------------------------------------------------------------------------
    info@asvgraf.ru; web-engineering, design, front-end: Anna Sudarikova
	------------------------------------------------------------------------------------*/
	
/*стр 533: 
текст переводим в pt и 
отменяем правила каскадности important! 
Фоновые изображения не печатаются 
рядом со ссылками выводим их адреса
*/	

* {
	color: #000 !important;
}

a:after {
	content: "(" attr(href) ")"; 
	word-wrap: break-word; /*разбивает длинные ссылки на слова*/
	
}
/* конкатенация строк, то есть их объединение. В языках программирования объединяемые строки разделяют каким-нибудь специальным символом; например, 
в JS это символ "+", поэтому если бы мы в JS хотели объединить строку "Our function returned " и значении функции, которая возвращает 
какое-нибудь число(например some_function с аргументом some_value), это выглядело бы так: "Our function returned " + some_function(some_value) = "Our function returned 293"
А вот в CSS нету разделителя) Поэтому чтобы объединить строку и значение функции attr с аргументом href, можно их вообще никак не разделять, а прямо друг за другом писать:
   content: 'Эта строка объединяется со значением атрибута href ' attr(href); (http://htmlbook.ru/css/attr)
*/ 